.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0 20px;
        position: relative;

        &__logo {
            color: var(--yellow-theme-main-color);
            cursor: pointer;
            text-decoration: none;
            font-size: 2.5rem;
            font-weight: bold;
            flex-shrink: 0;
        }

        &__menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            flex: 1;
            justify-content: center;
            align-items: center;

            &__item {
                margin: 0 1.5rem;
                font-size: 1.6rem;
                text-align: center;

                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    width: 100%;
                    background: var(--yellow-theme-main-color);
                }

                &__links {
                    color: var(--yellow-theme-main-color);
                    text-decoration: none;
                    padding: 0.5rem;
                    display: block;
                }
            }
        }
    }
}

.nav-icon {
    display: none;
    color: var(--yellow-theme-main-color);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navbar__container {
        &__logo {
            font-size: 2rem;
        }

        &__menu {
            position: absolute;
            top: 80px;
            left: -100%;
            width: 100%;
            height: calc(100vh - 80px);
            flex-direction: column;
            background-color: #181818;
            transition: all 0.5s ease;
            padding: 20px 0;

            &.active {
                left: 0;
            }

            &__item {
                width: 100%;
                margin: 0;
                padding: 15px 0;
                border-bottom: 1px solid #282828;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .nav-icon {
        display: block;
    }
}